<h1>Demo#hello</h1>
<p>Hello World from hello!</p>



<%=1+1%>

<%name = "Jenny" %>
<%= "Hello #{name}"%>

<% @array.each do |n|%></br>
	
	<%= n %> <br />
<%end%>
<a href = "/demo/index"> Index page 1 </a>
</br>
<%= link_to('Index page 2', {:action => 'index'}) %>
</br>
<%= link_to('Index page 3', 'index') %>
</br>
<%= link_to('RAW_DATA', 'data') %>

<br />
ID: <%= params[:id] %> <br />
ID: <%= @id %><br />
Next Page: <%= @page + 1 %> <br />

<hr />
<%= params.inspect %>